@import "tailwindcss";

html {
    scroll-behavior: smooth;
}
body{
    background-color: #a35a3e;
    background-image: url("/images/Sprinkle.svg");
    background-repeat: repeat;
    background-size: cover;
    animation: move 2s ease-out forwards;
}

.cv{
    animation: zoom 2s, fadeIn 2s;
}

.hero__p{
      font-family: "Zen Kaku Gothic New", sans-serif;
      font-weight: 500;
      font-size: 25px;
}
.hero__p--1{
    animation: slideRight 2s, fadeIn 2s;
}
.hero__p--2{
    animation: slideLeft 2s, fadeIn 2s;
}
a{
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 600;
}

h1{
    color: white;
}
.cv:hover {
    box-shadow:  2px 2px 5px white;
}
.hero__header{
    font-family: 'Panchang', sans-serif;
    white-space: normal;
    animation: fadeIn 2s, moveIn 2s;
}
.drop-down{
    animation: fadeIn 0.5s, slideIn 0.5s;
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes moveIn {
    0%{
        transform: translateY(100px);
    }
    100%{
        transform: translateY(0);
    }

}
@keyframes slideIn {
    0%{
        transform: translateX(100px);
    }
    100%{
        transform: translateX(0);
    }
}
@media (width < 400px) {
    header{
       
        font-size: 40px;
    
        }
    }
@keyframes slideRight {
    0%{
        transform: translateX(-100vw);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes slideLeft {
    0%{
        transform: translateX(100vw);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes zoom {
    0%{
        transform: scale(0.1);
    }
    50%{
        transform: scale(1.05);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes move {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -1000px 1000px;
    }
  }

