---
import Layout from "../layouts/layout.astro"
import { Image } from "astro:assets";
import github from '../../public/images/github.png'
import file from "../../public/images/file.png"
import LinkedIn from "../../public/images/linkedin.png"
---
<Layout title="Home">
<section id="home" class="hero mt-15 p-8">
    <header class="hero__header hover:scale-[1.01] tracking-wider text-black text-center text-[70px] max-md:text-[50px] transition-all duration-2s">Hi, I'm Chidubem</header>
    <p class="hero__p hero__p--1 text-center mt-4">Fullstack Web Developer.</p>
    <br>
    <p class="hero__p hero__p--2 text-center">Let's turn your ideas into polished, production ready web applications.</p>
    <br>
    <button class="cv flex hover:scale-[1.05] transition-all duration-2s bg-amber-200 gap-2 border-1 p-2 rounded-2xl m-auto active:bg-transparent">
        download cv
        <Image src={file} alt="cv" class="w-6" format="webp" quality={10} loading="eager"/>
    </button>
</section>
<section id="skills"></section>
<section id="about"></section>
<section id="contact"></section>
</Layout>
