---
import Layout from "../layouts/layout.astro"
---
<Layout title="Home">
<section id="home"><header class="tracking-wider text-white w-full text-center m-4 text-[70px] max-md:text-[50px]">Hi, I'm Chidubem</header></section>
<section id="skills"></section>
<section id="about"></section>
<section id="contact"></section>
</Layout>
