---
import Layout from "../layouts/layout.astro"
---
<Layout title="Home">
<section id="home">ppp</section>
<section id="skills"></section>
<section id="about"></section>
<section id="contact"></section>
</Layout>
