---
import "../styles/global.css";
import Nav from "../Components/Nav.astro"
const {title} = Astro.props
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
    <link rel="canonical" href="https://chidubem.name.ng" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link href="https://api.fontshare.com/v2/css?f[]=bespoke-stencil@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300&display=swap" rel="stylesheet">
    <link href="https://api.fontshare.com/v2/css?f[]=panchang@800&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="/images/nigeria (1).png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="I'm Chidubem, a front-end web developer crafting modern websites and web apps with Astro, React, and TypeScript." />
    <meta name="author" content="Chidubem Emeka-Ogbu" />
    <meta property="og:image" content="https://chidubem.name.ng/images/hi.png" />
    <meta name="twitter:image" content="https://chidubem.name.ng/images/hi.png" />
    <meta property="og:title" content="Full-Stack Developer Portfolio" />
    <meta
      property="og:description"
      content="Explore my portfolio."
    />
    <meta property="og:url" content="https://chidubem.name.ng" />
    <meta property="og:type" content="website" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:title"
      content="Full-Stack Developer Portfolio"
    />
    <meta
      name="twitter:description"
      content="Explore my portfolio"
    />

  </head>
  <body ontouchstart="">
	<Nav/>
    <slot />
  </body>
</html>
