---
 const {active} = Astro.props;
---

<nav class="relative top-0 flex justify-between">

    <div>
        <h1>PORTFOLIO</h1>
    </div>

    <div>
        <a href="#home">Home</a>
        <a href="#skills">Skills</a>
        <a href="#about">About</a>
        <a href="#contact">Contact</a>
    </div>
    <div></div>
</nav>